<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .leftULnostyle{
    list-style-type:none;
     margin: 0; padding: 0;
     text-align: left;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
     
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #e34f6a;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    
    .wideItalicButton{
    	width:170%; 
    	font-style:italic;	
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Primerica Financial Services</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      	<li><a class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="lifeinsurance">Life Insurance</a></li>
		    <li><a href="homeinsurance">Home Insurance</a></li>
		    <li><a href="autoinsurance">Auto Insurance</a></li>
		    <li><a href="debtconsolidation">Debt Consolidation</a></li>
		    <li><a href="taxresolution">Tax Resolution</a></li>
		    <li><a href="prepaidlegal">Pre-Paid Legal</a></li>
		    <li><a href="identitytheft">Identity Theft</a></li>
		    <li><a href="collegefunds">College Funds</a></li>
		    <li><a href="mutualfunds">Mutual Funds</a></li>
		    <li><a href="variableannuity">Variable Annuity</a></li>
		    <li><a href="401k">401K Portfolio</a></li>
		    <li><a href="43b">43B Portfolio</a></li>
		    <li><a href="ira">IRA Portfolio</a></li>
		    <li><a href="rothira">Roth IRA Portfolio</a></li>
		  </ul>
  		</li>
        <li><a href="../../about">About</a></li>
        <li><a href="../../contact">Contact</a></li>
      </ul>
      <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
        <li><a href="/admin"><span class="glyphicon glyphicon-user" sec:authentication="name"></span></a></li>
        <li style="position:relative; top:10px; left:15px;">
        	<form th:action="@{/logout}"  method="POST">
				<input type="submit" value="Logout" />
			</form>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
	<div class="container text-center">
    
    <div class="col-sm-1"></div>
    
    <div class="col-sm-9 table-responsive" style="width:50%;">
    	<div>
		<h3 style="font-style:italic;" class="pull-left" th:text="${Client.firstName}" ></h3>
		<h3 style="font-style:italic;" class="pull-left" th:text="${Client.lastName}" ></h3>
		</div>
		<br><br>
		<hr style="height:10px;">
		
		
		<table class="table table-bordered table-striped">
			
			<tbody>
				
				<tr>
					<th>Recruiter</th>
					<td th:text="${Client.recruiter}" />
				</tr>
				<tr>
					<th>City</th>
					<td th:text="${Client.ClientLocationDetails.city}" />
				</tr>
				<tr>
					<th>Life #</th>
					<td th:text="${Client.ClientPolicyDetails.lifeId}" />
				</tr>
				<tr>
					<th>Life Policy</th>
					<td th:text="${Client.ClientPolicyDetails.lifePolicy}" />
				</tr>	
				<tr>
					<th>Home #</th>
					<td th:text="${Client.ClientPolicyDetails.homeId}" />
				</tr>
				<tr>
					<th>Home Policy</th>
					<td th:text="${Client.ClientPolicyDetails.homePolicy}" />
				</tr>	
				<tr>
					<th>Auto #</th>
					<td th:text="${Client.ClientPolicyDetails.autoId}" />
				</tr>
				<tr>
					<th>Auto Policy</th>
					<td th:text="${Client.ClientPolicyDetails.autoPolicy}" />
				</tr>	
				
				<tr>
					<th>Debt #</th>
					<td th:text="${Client.ClientPolicyDetails.debtId}" />
				</tr>
				<tr>
					<th>Debt Policy</th>
					<td th:text="${Client.ClientPolicyDetails.debtPolicy}" />
				</tr>	
				<tr>
					<th>Tax #</th>
					<td th:text="${Client.ClientPolicyDetails.taxId}" />
				</tr>
				<tr>
					<th>Tax Policy</th>
					<td th:text="${Client.ClientPolicyDetails.taxPolicy}" />
				</tr>	
				<tr>
					<th>Pre-Paid Legal #</th>
					<td th:text="${Client.ClientPolicyDetails.prepaidlegalId}" />
				</tr>
				<tr>
					<th>Pre-Paid Legal Policy</th>
					<td th:text="${Client.ClientPolicyDetails.prepaidlegalPolicy}" />
				</tr>	
				<tr>
					<th>Mutual Fund #</th>
					<td th:text="${Client.ClientPolicyDetails.mutualfundId}" />
				</tr>
				<tr>
					<th>Mutual Fund Policy</th>
					<td th:text="${Client.ClientPolicyDetails.mutualfundPolicy}" />
				</tr>
				
				<tr>
					<th>College Fund #</th>
					<td th:text="${Client.ClientPolicyDetails.collegefundId}" />
				</tr>
				<tr>
					<th>College Fund Policy</th>
					<td th:text="${Client.ClientPolicyDetails.collegefundPolicy}" />
				</tr>
				
				<tr>
					<th>IRA #</th>
					<td th:text="${Client.ClientPolicyDetails.iraId}" />
				</tr>
				<tr>
					<th>IRA Policy</th>
					<td th:text="${Client.ClientPolicyDetails.iraPolicy}" />
				</tr>
				
				<tr>
					<th>Roth IRA #</th>
					<td th:text="${Client.ClientPolicyDetails.rothiraId}" />
				</tr>
				<tr>
					<th>Roth IRA Policy</th>
					<td th:text="${Client.ClientPolicyDetails.rothiraPolicy}" />
				</tr>
				
				<tr>
					<th>401K #</th>
					<td th:text="${Client.ClientPolicyDetails.fouronekId}" />
				</tr>
				<tr>
					<th>401K Policy</th>
					<td th:text="${Client.ClientPolicyDetails.fouronekPolicy}" />
				</tr>
				
				<tr>
					<th>43B #</th>
					<td th:text="${Client.ClientPolicyDetails.fourthreebId}" />
				</tr>
				<tr>
					<th>43B Policy</th>
					<td th:text="${Client.ClientPolicyDetails.fourthreebPolicy}" />
				</tr>
				
				<tr>
					<th>Variable Annuity #</th>
					<td th:text="${Client.ClientPolicyDetails.variableannuityId}" />
				</tr>
				<tr>
					<th>Variable Annuity Policy</th>
					<td th:text="${Client.ClientPolicyDetails.variableannuityPolicy}" />
				</tr>		
					
				<tr>	<!--   Add update button/link -->
					<td style="max-width:100%; white-space:nowrap;">
						<a th:href="@{/admin/clients/next(ClientId=${Client.id})}"
							class="btn btn-secondary btn-sm"> 
							Next
						</a>
					</td>
						
				</tr>
				 <!--  				
				</tr>
				-->
					
			</tbody>
		
		</table>
		
	</div>
	
	<div  class="col-sm-2"></div>
</div>
<br>

		<hr>
		  
		<a href="/admin/clients/list">Back to directory.</a>
		
  <hr style="position:relative; top:15px;">
<footer class="container-fluid text-right">
  <p style="font-weight:bold;">&copy; Primerica Financial Services 2019</p>
</footer>

</body>
</html>
