<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .leftULnostyle{
    list-style-type:none;
     margin: 0; padding: 0;
     text-align: left;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
     
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #e34f6a;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    
    .wideItalicButton{
    	width:170%; 
    	font-style:italic;	
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Primerica Financial Services</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      	<li><a class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="lifeinsurance">Life Insurance</a></li>
		    <li><a href="homeinsurance">Home Insurance</a></li>
		    <li><a href="autoinsurance">Auto Insurance</a></li>
		    <li><a href="debtconsolidation">Debt Consolidation</a></li>
		    <li><a href="taxresolution">Tax Resolution</a></li>
		    <li><a href="prepaidlegal">Pre-Paid Legal</a></li>
		    <li><a href="identitytheft">Identity Theft</a></li>
		    <li><a href="collegefunds">College Funds</a></li>
		    <li><a href="mutualfunds">Mutual Funds</a></li>
		    <li><a href="variableannuity">Variable Annuity</a></li>
		    <li><a href="401k">401K Portfolio</a></li>
		    <li><a href="43b">43B Portfolio</a></li>
		    <li><a href="ira">IRA Portfolio</a></li>
		    <li><a href="rothira">Roth IRA Portfolio</a></li>
		  </ul>
  		</li>
        <li><a href="../../about">About</a></li>
        <li><a href="../../contact">Contact</a></li>
      </ul>
      <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
        <li><a href="/admin"><span class="glyphicon glyphicon-user" sec:authentication="name"></span></a></li>
        <li style="position:relative; top:10px; left:15px;">
        	<form th:action="@{/logout}"  method="POST">
				<input type="submit" value="Logout" />
			</form>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
	<div class="container text-center">
    
    <div class="col-sm-1"></div>
    
    <div class="col-sm-9 table-responsive" style="width:50%;">
		<h3 style="font-style:italic;" class="pull-left" th:text="${Prospect.firstName}" ></h3>
		<h3 style="font-style:italic;" class="pull-left" th:text="${Prospect.lastName}" ></h3>
		<br><br>
		<hr style="height:10px;">
		
		
		<table class="table table-bordered table-striped">
			
			<tbody>
				<tr>
					<th width="20%;">Last Correspondence</th>
					<td width="80%;"th:text="${#temporals.format(Prospect.lastCorrespondence,'MM/dd/yyyy')}" />
				</tr>
				<tr>
					<th>First Name</th>
					<td th:text="${Prospect.firstName}" />
				</tr>
				<tr>
					<th>Last Name</th>
					<td th:text="${Prospect.lastName}" />
				</tr>
				<tr>
					<th>Phone Number</th>
					<td th:text="${Prospect.phoneNumber}" />
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${Prospect.email}" />
				</tr>
				<tr>
					<th>Occupation</th>
					<td th:text="${Prospect.occupation}" />
				</tr>
				
				<tr>
					<th>Marriage</th>
					<td th:switch="${Prospect.married}"> 
						<span th:case="true"><input type="checkbox" disabled checked></span>
						<span th:case="false"><input type="checkbox" disabled> </span>
					</td>
				</tr>
				<tr>
					<th>Children</th>
					<td th:text="${Prospect.children}" />
				</tr>
				<tr>
					<th>Occupation</th>
					<td th:text="${Prospect.occupation}" />
				</tr>
				
				<tr>
					<th>City</th>
					<td th:text="${Prospect.prospectLocationDetails.city}" />
				</tr>
				<tr>
					<th>State</th>
					<td th:text="${Prospect.prospectLocationDetails.state}" />
				</tr>
				<tr>
					<th>Zip Code</th>
					<td th:text="${Prospect.prospectLocationDetails.zipCode}" />
				</tr>
				<tr>
					<th>Financial Products</th>
					<td th:switch="${Prospect.prospectInterestDetails.financialProducts}"> 
						<span th:case="true"><input type="checkbox" disabled checked></span>
						<span th:case="false"><input type="checkbox" disabled> </span>
					</td>
				</tr>
				<tr>
					<th>Recruitment</th>
					<td th:switch="${Prospect.prospectInterestDetails.recruitment}"> 
						<span th:case="true"><input type="checkbox" disabled checked></span>
						<span th:case="false"><input type="checkbox" disabled> </span>
						
					</td>	
							
				</tr>
				<tr>
				
					
					
					
				<tr>	<!--   Add update button/link -->
					<td style="max-width:100%; white-space:nowrap;">
						<a th:href="@{/admin/prospects/next(ProspectId=${Prospect.id})}"
							class="btn btn-secondary btn-sm"> 
							Next
						</a>
						 
						<!-- Add cycle link 
						<a th:href="@{/admin/prospects/cycle(ProspectId=${Prospect.id})}"
										class="btn btn-info btn-sm"> 
										next
						</a>
						-->
					</td>
						
				</tr>
				 <!--  
				
				<tr th:text="tempProspect :${Prospect}">
						<th>Last Correspondence</th>
						<td th:text="${tempProspect.occupation}" />
				</tr>
				
				<tr th:text="tempProspect :${Prospect}">
						<th>Marriage</th>
						<td th:switch="${tempProspect.married}"> 
						  <span th:case="true"><input type="checkbox" disabled checked></span>
						  <span th:case="false"><input type="checkbox" disabled> </span>
						</td>
				</tr>
				<tr th:text="tempProspect :${Prospect}">
						<th>Children</th>
						<td th:text="${tempProspect.children}" />
				</tr>		
				
				<tr>
				
				<th>cycling</th>
					<td style="max-width:100%; white-space:nowrap;">
						<a th:href="@{/admin/prospects/cycle(ProspectId=${tempProspect.id})}"
							class="btn btn-info btn-sm"> 
							Cycle
						</a>
					</td>
					
				</tr>
				-->
					
			</tbody>
		
		</table>
		
	</div>
	
	<div  class="col-sm-2"></div>
</div>
<br>

		<hr>
		  
		<a href="/admin/prospects/list">Back to directory.</a>
		
  <hr style="position:relative; top:15px;">
<footer class="container-fluid text-right">
  <p style="font-weight:bold;">&copy; Primerica Financial Services 2019</p>
</footer>

</body>
</html>
